<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home page</title>
</head>

<body>{{>navbar}}

    {{!-- hero section start --}}
    <div class="container-fluid mt-5">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text order-md-0 order-1">
                        <h1 class="text-uppercase">we will help you</h1>
                        <h1 class="text-uppercase">grow your business</h1>
                        <p class="text-capitalize">we are the team of <span class="bold-style">
                                web developers
                            </span>
                        </p>
                        <a class="btn btn-primary" href="/services">Read more</a>
                    </div>
                    {{!-- right-side --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/home-image1.jpg" alt="hero_image" class="rounded">
                        </figure>
                    </div>

                </div>

            </div>
        </div>
    </div>
    {{!-- hero section ends --}}

    {{!-- about section start --}}
    <div class="container-fluid mt-5" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/home-image2.jpeg" alt="hero_image" class="rounded">
                        </figure>
                    </div>
                    {{!-- right-side --}}

                    <div class="col-md-6 col-12 hero-text float-right">
                        <h1 class="text-capitalize">we are the Proffesional developers</h1>
                        <p class="text-capitalize">we are the team of <span class="bold-style">
                                web developers
                            </span>
                        </p>
                        <a class="btn btn-primary" href="/services">Read more</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
    {{!-- about section ends --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {{>footer}}

</body>

</html>