<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Service page</title>
</head>

<body>{{>navbar}}
    <div class="container py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 font-bold text-success mt-3 font-italic">
                    Our Services
                </h1>
            </div>


        </div>
    </div>
    <div class="container mt-2">
        <div class="row py-5">
            <div class="col-12 col-lg-4">
                <div class="card bg-light mx-auto m-3" style="width:300px;height:400px;">
                    <img class="card-img-top"
                        src="https://i.pinimg.com/originals/31/b1/c5/31b1c5e28142f50e2aad73efaa2e63c1.jpg"
                        alt="html image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">HTML</h4>
                        <p class="card-text">Hypertext Markup Language is the standard markup language for documents
                            designed to be displayed in a web browser.
                        </p>
                        <a href="https://www.w3schools.com/html/" class="btn btn-primary btn-block stretched-link">learn
                            more</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card bg-light mx-auto m-3" style="width:300px;height:400px;">
                    <img class="card-img-top" src="https://miro.medium.com/max/3840/1*eBvYOHK9lvqu64ofbExELg.jpeg"
                        alt="Css image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">CSS</h4>
                        <p class="card-text">CSS is the language we use to style an HTML document.

                            CSS describes how HTML elements should be displayed.


                        </p>

                        <a href="https://www.w3schools.com/css/" class="btn btn-primary btn-block stretched-link">learn
                            more</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card bg-light mx-auto m-3" style="width:300px;height:400px;">
                    <img class="card-img-top"
                        src="https://www.wallpapertip.com/wmimgs/160-1609101_javascript-development.jpg"
                        alt="Javascript image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Javascript</h4>
                        <p class="card-text">JavaScript is the world's most popular programming language.

                            JavaScript is the programming language of the Web.
                        </p>
                        <a href="https://www.w3schools.com/js/DEFAULT.asp"
                            class="btn btn-primary btn-block stretched-link">
                            learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12 col-lg-4">
                <div class="card bg-light mx-auto m-3" style="width:300px;height:400px;">
                    <img class="card-img-top"
                        src="https://cutewallpaper.org/21/js-wallpaper/How-to-write-event-handlers-in-React-JavaScript-in-Plain-.jpeg"
                        alt="React image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">React js</h4>
                        <p class="card-text">React is a JavaScript library for building user interfaces.

                            React is used to build single page applications.

                        </p>
                        <a href="https://reactjs.org/" class="btn btn-primary btn-block stretched-link">learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card bg-light mx-auto m-3" style="width:300px;height:400px;">
                    <img class="card-img-top" src="https://cdn.wallpapersafari.com/87/57/VKE8r0.jpg" alt="Card image"
                        style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Node js</h4>
                        <p class="card-text">Node.js is an open-source, back-end JavaScript runtime
                            environment that executes JavaScript code outside a web browser.
                        </p>
                        <a href="https://nodejs.org/dist/latest-v14.x/docs/api/"
                            class="btn btn-primary btn-block stretched-link">learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card bg-light mx-auto m-3" style="width:300px;height:400px;">
                    <img class="card-img-top" src="https://www.filepicker.io/api/file/BPuxT72TDetZjNxyG4gh"
                        alt="Mongo image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Mongo DB</h4>
                        <p class="card-text">
                            MongoDB is a cross-platform document-oriented database program.One of the most popular NoSQL
                            database is MongoDB.
                        </p>
                        <a href="https://www.mongodb.com/1" class="btn btn-primary btn-block stretched-link">learn
                            more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {{>footer}}

</body>

</html>